* {
    box-sizing: border-box;
}








/* tablet styles */

@media screen and (min-width: 768px) {
    .house-galery {
        display:grid;
        grid-template-columns: auto auto ;
        grid-gap: 3px;
    }

   











/* desktop styles */

@media screen and (min-width: 1024px) {
    .house-galery {
        display:grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 3px;
    }
    
  


