* {
    box-sizing: border-box;
}

.body {
    background-image: url(/images/body-bg-1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}







/* tablet styles */

@media screen and (min-width: 768px) {
    .house-galery {
        display:grid;
        grid-template-columns: auto auto ;
        grid-gap: 1px;
        max-width: 100%;
    }

    .more-details {
        margin-right: 0;
    }

    .house-galery > img {
        width: 80%;
    }

   
}
    


   











/* desktop styles */

@media screen and (min-width: 1024px) {
    .house-galery {
        display:grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 3px;
    }
    
  


