.container {
    display: grid;
    grid-template-columns: auto ;
    grid-gap: 5px;
    width: 100%;
}

.container > .search-result-section {
    order: 3;
 }

.top-highest {
    order: 1;
}

.top-lowest {
   order: 2;
}

.search-result-section-images {
    width: 100%;

}

.search-result-section-footer {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 10px;
    font-size: 13px;
    font-weight: bolder;
}

.search-result-section-footer span {
    opacity: 0.6;
    padding-left: 4px;
    font-style: italic;
}

.search-result-section-details {
    color: white;
    background-color: darkgoldenrod;
    padding:4px 6px;
    text-align: center;
    margin: 8px 25%;
    text-decoration: none;
}

.search-result-section-details:hover {
    color:black;
    background-color: darksalmon;
    border-radius: 4px;
    text-decoration: none;
    font-style: italic;
    font-size: 18px;
}

.search-result-section h1 {
 color:gold;
}

.top-houses-title {
    color:darkviolet;
    width:300px;
}


/* media queries for tablet */
@media screen and (min-width: 768px) {
    /* .container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 5px;
        width: 100px;
    }
    
    .container > .search-result-section {
        grid-row:1/3;
        grid-column:1/3;
    }
    
    .container > .top-highest {
        background-color: brown;
    }
    
    .container > .top-lowest {
        background-color: brown;
    } */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-flow: wrap;
    gap: 2px;
}
.container > .search-result-section {
    order: 2;
    width: 60%;
}

.container > .top-highest {
    order: 1;
   width: 30%;
}

.container > .top-lowest {
    
}
           
}


    /* media queries for desktop */
@media screen and (min-width: 1024px) {
     .container {
      width :100%;
    
    }
  
    .search-result-section > div {
        width :100%;
        padding: 0;
    }

    .top-lowest > div {
        width: 220px;
        margin-left: -15px;
        margin-top: -5px;
    }

    .top-highest > div {
        width: 260px;
        margin-left:-34px;
        margin-top: -5px;
    }
    
    .top-houses-title {
        color:darkviolet;
        width:300px;
        margin-left: -53px;
        font-size: 21px;
        margin-top: 10px;
        margin-bottom: -9px;
    }
